<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Pública da Zona Leste</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/img/PatClinic.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <nav class="navbar bg-body-secondary">
            
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/img/PatClinic.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Pata Clinic
              </a>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button2" class="btn btn-danger">
                <a href="/cadastrar" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cadastre-se</a></button>
              <button type="button" class="btn btn-danger">
                <a href="/login" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Entrar na Conta</a><br></button>
            </div>
            </div>
          </nav>
        <div class="position-absolute top-50 start-50 translate-middle">
        <div class="logo-header">
            <img src="/img/PatClinic.png" alt="Logo da Pata Clinic">

        </nav>
    </div>
    </header>
    <main>

    </main>

    <footer>

    </footer>

</body>
</html>