<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuide do seu pet! | PetClinic</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/style03.css">
</head>
<body>
    <div>
        <H1>Em desenvolvimento...</H1>
    </div>
    
    <button id="logoutButton">Sair</button>
    <script>       
        document.getElementById('logoutButton').addEventListener('click', function() {            
            window.location.href = '/';  
        }) // Redireciona para a página index.html

    </script>

</body>
</html>